body {background-color: black; color: #b3e5fc;}

div.blueTable {
  border: 0px;
  width: 460px;
  height: 270px;
  text-align: left;
  padding: 0px 5px;
}
.divTable.blueTable .divTableCell {
  border: 0px;
  padding: 3px 0px;
}
.divTable.blueTable .divTableBody .divTableCell {
  font-size: 30px;
  vertical-align: middle;
}

.divTable{ display: table; }
.divTableRow-s { display: table-row; height: 0px;}
.divTableRow { display: table-row;}
.divTableCell { display: table-cell;}
.divTableBody { display: table-row-group;}

#button-menu{
  top: 5px;
  right: 5px;
  height: 31px;
  width:  40px;
  padding: 5px;
}

.button-plusminus{
  height: 60px;
  width:  100px;
}

#mode{
  height: 60px;
  width: 210px;
}

.button {
  position: relative;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 5px 10px 0px 10px;
  color:  #b3e5fc;
  border: 1px solid  #b3e5fc;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  vertical-align: middle;
  font-size:  28px;
  background:  black ;
  padding: 0px;
}

#ibox {
  display: inline-block;
  border: 1px solid  #b3e5fc ;
  font-size:  18px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 5px;
}

.info{
    height: 12px;
}

#targettemperature {
  font-size: 65px;
  vertical-align: top;
}

.icon {
    height: 45px;
    width: 50px;
    padding: 0px 10px 0px 10px;
}

.arrow {
    height: 10px;
    width: 15px;
}

.units {
  font-size: 22px;
}

.centered {
  text-align: center;
}

.right-aligned{
    float:right;
}

.left-aligned{
    float:left;
}



