body {background-color: black; color: #b3e5fc;}

#scheduletable {
  font-size:  16px;
  border: none;
}

.button-css {
  height: 30px;
  width:  40px;
  color:  #b3e5fc;
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  font-size:  16px;
  padding: 0px 10px 0px 10px;
  border: 1px solid #b3e5fc;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  background: black;
}

.button-css-s {
  height: 20px;
  width:  20px;
  color:  #b3e5fc;
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  font-size:  16px;
  padding: 0px 10px 0px 10px;
  border: 1px solid #b3e5fc;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  background: black;
}

.custom-select {
    display: inline-block;
    padding: 4px 3px 3px 5px;
    margin: 0;
    font: inherit;
    outline:none; /* remove focus ring from Webkit */
    line-height: 1.2;
    background: black;
    border: 1px solid #b3e5fc;
    -webkit-border-radius: 3px;
    color:  #b3e5fc;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
