[Unit]
Description=IOThermostat Backend Service
After=multi-user.target mosquitto.target

[Service]
Type=idle
ExecStartPre=/home/iothermostat/getIP.sh
ExecStart=/usr/bin/python3 -u /home/iothermostat/iothermostat-python/iothermostat.py

[Install]
WantedBy=multi-user.target
